/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  background: #f79d00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64f38c, #f79d00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64f38c, #f79d00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img{
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
}

h2, h3{
  text-align: center;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
